@font-face { font-family: Futura; src: url('/fonts/FuturaLT.ttf'); }
@font-face { font-family: Futura-Light; src: url('/fonts/FuturaLT-Light.ttf'); }
html *
{
  color: rgb(255, 255, 255);
  font-family: Futura-Light !important;
  letter-spacing: 0px;
}
body{
  background: black;
  text-align: center;
}
h3{
  display: none;
  margin: auto auto auto 85px;
}

.sexy_line{ 
  display:block;
  border:none;
  color:black;
  height:1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#fff), to(#000));
  margin: 20px 0 20px 0;
}

h2{
  display: none;
  font-size: 12pt;
}

.text-muted{
  opacity: .7;
}